body {
    background:url('https://images3.alphacoders.com/135/thumb-1920-1354186.jpeg');
    background-repeat: repeat;
    background-size: auto;
}

article .intro {
    display : flex;
    text-align: justify;
    background-color: #505050;
    padding: 10px 10px;
    border-radius: 10px;
}

article .experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0px;
}

article img {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

article .experience .titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px;
    border-radius: 10px 10px 0 0;
    background-color: #f54266;
    width: 100vw;
    font-weight: bold;
}

article .experience .entreprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px 0px;
    background-color: #141414;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

article .experience .info {
    margin-top: -20px;
    padding: 0px 25px;
    border-radius: 0 0 10px 10px;
    background-color: #141414;
    color: #fff;
    width: 100%;
}

article .entreprise a, a:visited{
    text-decoration: none;
    color: #fff;
}

article .entreprise a:hover {
    text-decoration: none;
    color: #f54266;
}

button {
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 13px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #f54266;
    margin-right: 10px;
    color: #fff;
}
