.cv {
	font-family: arial;
	padding-left: 5%;
	padding-right: 5%;
}

.cv .intro ul {
	list-style-type: none;
	display: flex;
	width: 100%;
}
.cv .titre {
	font-size: 50px;
	color: #1f108b;
	font-weight: bold;
}

.cv .photo {
	position: absolute;
	right: 0px;
	margin-left: auto;
	border-radius: 100px;
	height: 20%;
	border: 4px solid #101;
	box-shadow: 7px 7px 2px #ccc;
}

.cv ul.resume {
	display: list-item;
}

.resume .link {
	text-decoration: none;
	font-weight: bold;
	color: #2c82c9;
}

hr {
	position: relative;
	left: 2%;
	z-index: -10;
}


.exp_pro ul {
	list-style-type: none;
	padding-bottom: 20px;
}

.exp_pro li {
	padding-top: 10px;
}

.exp_pro .rubrique {
	font-size: 25px; 
	color: #1f108b;
	font-weight: bold;
	line-height: 50px;
}

.box_info {
	background-color: rgb(211, 199, 251, 0.3);
	border-radius: 15px;
	z-index: -10;
	margin-bottom: 20px;
	box-shadow: 7px 7px 2px #ccc;
}

.box_info .poste {
	padding-top: 5px;
	padding-left: 2.5%;
	float: left;
	width: 97.5%;
	height: 35px;
	font-weight: bold;
	font-size: 23px;
	background-color: rgb(211, 199, 251);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.box_info .entreprise {
	font-style: italic;
	font-weight: bold;
}

.box_info .link {
	text-decoration: none;
	color: #2c82c9;
}

.link:hover {
	color: #36a2eb;
	font-weight: bold;
}

.box_info img {
	position: relative;
	float: right;
	right: 25px;
	top: 25px;
	margin-left: auto;
}

.box_info .logo_spacebel {
	height: 50px;
	color: #000;
}

.box_info .date, .lieu {
	font-size: 14px;
	color: #555;
}

.box_info .competences {
	font-weight: bold;
}

ul .reseaux_bloc {
	text-align: left;
	width: 50%;
}

.cv .reseaux {
	list-style-type: none;
	display: inline-block;
	padding-left: 10px;
}

.reseaux img {
	height: 35px;
}

.box_info .langue {
	position: relative;
	top: -8px;
	right: 95%;
	height: 35px;
}

.box_info .niveau {
	position: relative;
	left: 30%;
}

.box_info .etoile {
	position: relative;
	right: 70%;
	top: -4px;
	height: 25px;
}
