@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

/* Réactivité */
@media screen and (max-width: 640px) {
    body .page {
        margin: 10px;
    }
    
    nav .onglets {
        display: none; /* Onglets masqués sur mobile */
    }

    header {
        margin-top: 20px;
        background-size: 250px 250px;
    }
    
    header h1 {
        font-size: 20px;
        padding: 50px 10px;
    }
}

/* Styles globaux */
body {
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0; 
}

body .page {
    margin: 20px 80px;
}

/* Barre de navigation */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #141414;
    padding: 10px 20px;
    z-index: 1000; /* Assure que la barre de nav reste au-dessus */
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglets a {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

nav .onglets a:hover {
    color: #f54266;
}

nav .buttons button {
    font-family: "Playwrite IT Moderna", serif;
    font-weight: 400;
    padding: 13px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: all 0.3s ease-in-out;
}

nav .buttons .contact {
    background-color: #f54266;
    margin-right: 10px;
}

nav .buttons .tipee {
    background-color: #141414;
    margin-right: 10px;
}

nav .buttons .contact:hover,
nav .buttons .tipee:hover {
    background-color: #fff;
    color: #141414;
}

/* Header */
header {
    margin-top: 25px;
    background: url('https://i.pinimg.com/originals/87/ba/e7/87bae7e17cbef8f6be1d19f0962e0983.jpg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 60px;
    padding: 500px 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

header p {
    font-size: 24px;
    margin-top: -50px;
    padding: 0 20px;
}

header .simple_text {
    font-size: 24px;
    text-align: justify;
    background-color: rgba(250, 250, 250, 0.25);
    padding: 5px 20px;
    border-radius: 25px;
}

/* Pied de page */
footer {
    background-color: #1a1a1a;
    padding: 25px 100px;
    color: #828282;
    text-align: center;
}

footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: #828282;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}

footer a:visited {
    color: #828282;
}

/* Media queries pour les colonnes */
@media screen and (max-width: 768px) {
    footer .colonnes {
        flex-direction: column;
        align-items: center;
    }
}

/* Intégration des médias */
embed {
    display: block;
    margin: 20px auto;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    border: none;
}
