<footer class="site-footer">
    <div class="footer-header">
        <h5>Des questions ? Initialisons le contact !</h5>
    </div>

    <div class="footer-container">
        <!-- Colonne 1 : Philosophie / Actualités -->
        <div class="footer-col">
            <h4 class="footer-col-title">Journal de Bord</h4>
            <p class="footer-desc">Explorations nocturnes entre lignes de code et observation de la voûte céleste. Suivez mes derniers projets et réflexions.</p>
            <ul class="footer-links" style="margin-top: 1rem;">
                <li><a href="/fr/blog.html#dernier">Consulter les derniers articles →</a></li>
            </ul>
        </div>

        <!-- Colonne 2 : Écosystème & Partenaires -->
        <div class="footer-col">
            <h4 class="footer-col-title">Trajectoire & Réseau</h4>
            <ul class="footer-links">
                <li><a href="https://tml.celescope.fr/" target="_blank" rel="noopener">Association Célescope</a></li>
                <li><a href="https://www.ipsa.fr/" target="_blank" rel="noopener">IPSA • École d'ingénieurs de l'air et de l'espace</a></li>
                <li><a href="https://www.hs-bremen.de/" target="_blank" rel="noopener">HSB • Hochschule Bremen</a></li>
            </ul>
        </div>

        <!-- Colonne 3 : Actions / Ground Control -->
        <div class="footer-col footer-col-right">
            <h4 class="footer-col-title">Systèmes de Comm.</h4>
            <ul class="footer-links">
                <li><a href="/fr/contact.html">Ouvrir un canal de discussion (Contact)</a></li>
                <li><a href="https://fr.tipeee.com/alexinthecosmos/" target="_blank" rel="noopener">Soutenir la mission (Tipeee)</a></li>
            </ul>
            
            <!-- Sélecteur de langues -->
            <div class="lang-selector">
                <a class="lang-flag" href="/fr/index.html"><img src="/assets/images/france.png" alt="Version Française"></a>
                <a class="lang-flag" href="/en/index.html"><img src="/assets/images/royaume-uni.png" alt="English Version"></a>
                <a class="lang-flag" href="/de/index.html"><img src="/assets/images/allemagne.png" alt="Deutsche Version"></a>
            </div>
        </div>
    </div>

    <!-- Ligne du bas : Copyright & Réseaux Sociaux -->
    <div class="footer-bottom">
        <p class="copyright">© Alexandre Condette - 2026 | Conçu pour orbiter sur le web de manière statique.</p>
        
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/alexandre-condette/" target="_blank" rel="noopener"><img src="/assets/images/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/A-Cndt" target="_blank" rel="noopener"><img src="/assets/images/github.png" alt="GitHub"></a>
            <a href="https://www.instagram.com/alexinthecosmos/?hl=fr" target="_blank" rel="noopener"><img src="/assets/images/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=61572622681978" target="_blank" rel="noopener"><img src="/assets/images/facebook.png" alt="Facebook"></a>
            <a href="https://fr.tipeee.com/alexinthecosmos/" target="_blank" rel="noopener"><img src="/assets/images/tipee.png" alt="Tipeee"></a>
            <a href="https://www.twitch.tv/alexinthecosmos" target="_blank" rel="noopener"><img src="/assets/images/twitch.png" alt="Twitch"></a>
        </div>
    </div>
    <!-- Compteur de visite -->
        <div id="sfc7yqaeqs1f6ag8zn8lr686z5uzceqsl7n"></div>
        <script type="text/javascript" src="https://counter6.optistats.ovh/private/counter.js?c=7yqaeqs1f6ag8zn8lr686z5uzceqsl7n&down=async" async>
        </script>
        <br>
        <a href="https://www.compteurdevisite.com"></a>
        <noscript>
            <a href="https://www.compteurdevisite.com" title="compteur de visite">
                <img src="https://counter6.optistats.ovh/private/compteurdevisite.php?c=7yqaeqs1f6ag8zn8lr686z5uzceqsl7n" border="0" title="compteur de visite" alt="compteur de visite">
            </a>
        </noscript>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1271682525986890" crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
            style="display:flex"
            data-ad-client="ca-pub-1271682525986890"
            data-ad-slot="4423938118"
            data-ad-format="auto"
            data-full-width-responsive="true">
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="alexinthecosmos" data-description="Support me on Buy me a coffee!" data-message="" data-color="#BD5FFF" data-position="left" data-x_margin="18" data-y_margin="18"></script>
</footer>
