<nav class="navbar">
    <!-- Tabs -->
    <div class="tabs">
        <a class="logo" href="/en/index.html">
            <img src="/assets/images/logo.jpeg" alt="Logo Alex in the Cosmos">
        </a>
        <a class="tab" href="/en/resume.html">Resume</a>
        <a class="tab" href="/en/formations.html">Education</a>
        <a class="tab" href="/en/blog.html">Blog</a>
    </div>

    <!-- Action Buttons -->
    <div class="buttons">
        <!-- TIPEE -->
        <a class="btn btn-tipeee" href="https://fr.tipeee.com/alexinthecosmos" target="_blank" rel="noopener">
            Support Me
        </a>

        <!-- Contact Form -->
        <a class="btn btn-contact" href="/en/contact.html">
            Contact
        </a>
    </div>
</nav>