<nav class="navbar">
    <!-- Onglets -->
    <div class="tabs">
        <a class="logo" href="/fr/index.html">
            <img src="/assets/images/logo.jpeg" alt="Logo Alex in the Cosmos">
        </a>
        <a class="tab" href="/fr/resume.html">Mon CV</a>
        <a class="tab" href="/fr/formations.html">Formations</a>
        <a class="tab" href="/fr/blog.html">Blog</a>
    </div>

    <!-- Boutons d'action -->
    <div class="buttons">
        <!-- TIPEE -->
        <a class="btn btn-tipeee" href="https://fr.tipeee.com/alexinthecosmos" target="_blank" rel="noopener">
            Me Soutenir
        </a>

        <!-- Formulaire de contact -->
        <a class="btn btn-contact" href="/fr/contact.html">
            Contact
        </a>
    </div>
</nav>